In [50]:
def hanoi_step(n, tower1, tower2, tower3, count):
    """
    Shows the moves for solving Towers of Hanoi problem,
    along with the step number

    Args:
        n: Number of disks to start with
        tower1: Label for the first tower
        tower2: Label for the second tower
        tower3: Label for the third tower

    Returns:
        count: The number of steps
    """
    if n == 1:
        count += 1
        print(f"Step {count: 3d} : Move disk {n} from tower {tower1} to tower {tower2}")
        return count
    count = hanoi_step(n-1, tower1, tower3, tower2, count) + 1
    print(f"Step {count: 3d} : Move disk {n} from tower {tower1} to tower {tower2}")
    count = hanoi_step(n-1,tower3,tower2,tower1, count)
    return count

In [51]:
c = hanoi_step(4, 'A', 'B', 'C',0)

Step   1 : Move disk 1 from tower A to tower C
Step   2 : Move disk 2 from tower A to tower B
Step   3 : Move disk 1 from tower C to tower B
Step   4 : Move disk 3 from tower A to tower C
Step   5 : Move disk 1 from tower B to tower A
Step   6 : Move disk 2 from tower B to tower C
Step   7 : Move disk 1 from tower A to tower C
Step   8 : Move disk 4 from tower A to tower B
Step   9 : Move disk 1 from tower C to tower B
Step  10 : Move disk 2 from tower C to tower A
Step  11 : Move disk 1 from tower B to tower A
Step  12 : Move disk 3 from tower C to tower B
Step  13 : Move disk 1 from tower A to tower C
Step  14 : Move disk 2 from tower A to tower B
Step  15 : Move disk 1 from tower C to tower B

In [29]:
def count(n):
    if n == 1:
        print(n,1)
        return 1

    c = count(n-1)+1
    print(n, c)
    return c

In [31]:
c = count(5)

1 1
2 2
3 3
4 4
5 5